.content {
  font-weight: bold;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 10rem;
  transition: 0s;
}

p {
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.save-paragraph {
  font-size: 4rem;
  padding: 0;
  margin: 0;
}

a {
  margin-top: 1rem;
  font-size: 2rem;
}

.username-input {
  transition: 300ms;
  font-size: 2rem;
  margin: 1rem;
  box-sizing: border-box;
  height: 5rem;
  width: auto;
}

button {
  transition: 300ms;
  filter: invert(0%);
  scale: 200%;
  margin-top: 2rem;
  padding-inline: 3rem;
}
