<div class="game-screen">
  <div class="content">
    @if (loading()) {
      <p>Loading...</p>
    } @else if (error()) {
      <p class="error">{{ error() }}</p>
    } @else if (game().isFinished) {
      <h1>Save Your Score</h1>
      <p class="save-paragraph">Your score: {{ this.game().snakeLength }}</p>
      <a>Username:</a>
      <input type="text" value="Username" class="username-input" title="Enter your username"
             [(ngModel)]="usernameInput">
      <button title="Save score" (click)="handleSaveScoreButtonClicked()">Save score</button>
    } @else {
      <h1>Snake Game</h1>
      <table *ngIf="this.game().board.length > 0">
        <tr *ngFor="let row of this.game().board">
          <td *ngFor="let cell of row"
              [class]="'cell cell-' + cell"
              [title]="cell" (keydown)="handleKeysDown($event)" tabindex="0">
          </td>
        </tr>
      </table>
    }
  </div>
</div>
