@use '@angular/material' as mat;



html {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  color-scheme: dark;
  background: #46494c;
  transition:1s;

  .about-us-content {
    margin: auto;
    text-align: justify;
    padding: 10dvh;
    font-size: 5dvh;
  }

  h1 {
    transition: 300ms;
    color: white;
  }

  table {
    width: 60dvh;
    height: 60dvh;
    aspect-ratio: 1;
    border-collapse: collapse;
    transition: 300ms;
  }

  .cell {
    pointer-events: none;
    aspect-ratio: 1;
    border: 2px solid #9e9d9e;
  }

  .cell-1 {
    background-color: #0b850b;
  }

  .cell-2 {
    background-color: #cf0404;
  }

  button {
    transition: 100ms;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    filter: invert(100%);
  }

  .menu {
    button {
      filter: invert(0%);
      background: #2e3133;
      color: white;
      &:hover {
        transform: translateY(-1px);
        box-shadow: 0 4px 12px rgba(255,255,255,255);
      }
    }
  }

  @include mat.theme((
  color: mat.$azure-palette,
  ));
}

html.light-mode {
  transform-style: flat;
  color-scheme: light;
  background: #c5c3c6;

  h1 {
    transition: 300ms;
    color: black;
  }

  .cell {
    aspect-ratio: 1;
    border: 2px solid #9e9d9e;
    transition: 300ms;
  }

  .cell-1 {
    background-color: #0fbf0f;
  }

  .cell-2 {
    background-color: #eb0505;
  }

  button {
    transition: 300ms;
    filter: invert(0%);
  }
  .menu {
    button {
      background: #9e9d9e;
      color: black;
      &:hover {
        transform: translateY(-1px);
        box-shadow: 0 4px 12px rgba(0,0,0,1);
      }
    }
  }
  @include mat.theme((
    color: mat.$azure-palette,
  ));
}
